include templates/head.html
include templates/scripts.html
include templates/styles.html
include templates/datatables_assets.html
include templates/map_assets.html
include templates/wps_scripts.html

include atlas.html