@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700);
/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 24, ../sass/admin.scss */
html {
  background: #fff;
}

/* line 28, ../sass/admin.scss */
body {
  background: #fff;
  font: normal 0.875em/1em sans-serif;
}

/* line 42, ../sass/admin.scss */
body {
  background: #fff;
  color: #444;
  font: 400 0.875em/1.618em "Helvetica", serif;
  min-width: 700px;
  text-shadow: 0 1px 1px #fff;
  height: 100%;
}

/* line 51, ../sass/admin.scss */
a {
  text-decoration: none;
}

/* line 55, ../sass/admin.scss */
a:link, a:visited {
  color: #222;
}

/* line 59, ../sass/admin.scss */
ul, ol, dl {
  margin: 0 0 0 1.618em;
  padding: 0;
}

/* line 64, ../sass/admin.scss */
ol li {
  list-style: decimal;
}

/* line 68, ../sass/admin.scss */
p {
  margin: 0 0 2.618em;
}

/* line 72, ../sass/admin.scss */
strong, b {
  color: #222;
  font-weight: 600;
}

/* line 77, ../sass/admin.scss */
i, em {
  font-style: italic;
}

/* line 82, ../sass/admin.scss */
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1.618em;
  margin-bottom: 15px;
  text-shadow: 0 1px 1px #fff;
}

/* line 91, ../sass/admin.scss */
h6, h5 {
  font-size: 1em;
}

/* line 95, ../sass/admin.scss */
h4 {
  font-size: 1.25em;
}

/* line 99, ../sass/admin.scss */
h3 {
  color: #336699;
  font-size: 1.618em;
  letter-spacing: -1px;
}

/* line 105, ../sass/admin.scss */
h2 {
  color: #116677;
  font-size: 2.023em;
  letter-spacing: -1px;
}

/* line 111, ../sass/admin.scss */
h1 {
  color: #114477;
  font-size: 2.618em;
  letter-spacing: -2px;
}

/* line 122, ../sass/admin.scss */
#container {
  margin: 0 auto;
  width: 980px;
}

/* line 127, ../sass/admin.scss */
#header {
  overflow: hidden;
}
/* line 133, ../sass/admin.scss */
#header h1 {
  float: left;
}

/* line 138, ../sass/admin.scss */
#body {
  width: 660px;
  float: left;
  margin: 0 20px 20px 0;
  min-height: 100px;
  _display: inline;
}

/* line 146, ../sass/admin.scss */
#admin-body {
  clear: both;
  margin: 0 auto 40px;
  width: 100%;
}
/* line 151, ../sass/admin.scss */
#admin-body .content-item {
  border: 1px solid #fff;
  padding: 25px;
  position: relative;
  outline: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25), inset 0 0 10px #f8f8f8;
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25), inset 0 0 10px #f8f8f8;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25), inset 0 0 10px #f8f8f8;
}
/* line 160, ../sass/admin.scss */
#admin-body .content-item h2 {
  line-height: 1em;
  padding: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 167, ../sass/admin.scss */
#admin-body .content-item .by, #admin-body .content-item .status, #admin-body .content-item .created, #admin-body .content-item .tags {
  font-style: italic;
  font-family: Georgia, serif;
  margin: 1em;
}
/* line 173, ../sass/admin.scss */
#admin-body .content-item .content {
  border: 1px solid transparent;
  clear: left;
  margin-top: 2em;
  padding: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 184, ../sass/admin.scss */
#footer {
  border-top: 1px solid #d9d9d9;
  clear: both;
  overflow: hidden;
  padding: 25px 0;
  text-align: center;
}

/* line 196, ../sass/admin.scss */
#form-section-modules .fieldset-fields {
  padding: 5px 0 20px;
}

/* line 200, ../sass/admin.scss */
#form-section-modules legend {
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-top: 5px;
}

/* line 206, ../sass/admin.scss */
#form-section-modules legend {
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* line 211, ../sass/admin.scss */
#form-section-modules div.form-item {
  float: left;
  clear: none !important;
  width: 50%;
  margin-bottom: 10px;
  height: 50px;
  overflow: none;
}

/* line 220, ../sass/admin.scss */
#form-section-modules .checkbox {
  margin-left: 0;
}

/* line 223, ../sass/admin.scss */
#form-section-modules .description {
  padding-left: 22px;
}

/* line 229, ../sass/admin.scss */
.admin-page h2 {
  margin-bottom: 1.5em;
}
/* line 233, ../sass/admin.scss */
.admin-page .admin-dashboard-col1, .admin-page .admin-dashboard-col2 {
  padding: 10px;
  -webkit-box-shadow: 0 1px 3px #d9d9d9;
  -moz-box-shadow: 0 1px 3px #d9d9d9;
  box-shadow: 0 1px 3px #d9d9d9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 242, ../sass/admin.scss */
.admin-dashboard-col1 {
  float: left;
  width: 45%;
  display: inline;
  border: solid 1px silver;
}

/* line 249, ../sass/admin.scss */
.admin-dashboard-col2 {
  display: inline;
  float: right;
  width: 45%;
  border: solid 1px silver;
}

/* line 256, ../sass/admin.scss */
.admin-dashboard-clear {
  clear: both;
  height: 15px;
}

/* line 264, ../sass/admin.scss */
table {
  background: #fff;
  border: 1px solid #d9d9d9;
  width: 100%;
  margin-bottom: 18px;
  padding: 0;
  border-collapse: collapse;
  font-size: 13px;
}
/* line 273, ../sass/admin.scss */
table th, table td {
  padding: 10px 15px;
  line-height: 18px;
  text-align: left;
  text-transform: capitalize;
}
/* line 281, ../sass/admin.scss */
table tbody tr {
  border-bottom: 1px solid #d9d9d9;
}
/* line 285, ../sass/admin.scss */
table tbody tr:nth-child(odd) {
  background: #f3f3f3;
}
/* line 289, ../sass/admin.scss */
table tbody tr:hover {
  background: #d9e9f2;
  border-width: 1px 0;
  border-color: #8dbdd8;
}
/* line 294, ../sass/admin.scss */
table tbody tr:hover td {
  border-color: #8dbdd8;
}
/* line 300, ../sass/admin.scss */
table th {
  padding-top: 9px;
  font-weight: bold;
  vertical-align: middle;
  border-bottom: 1px solid #DDD;
}
/* line 307, ../sass/admin.scss */
table th + th, table td + td {
  border-left: 1px solid #d9d9d9;
}

/* line 312, ../sass/admin.scss */
.sortable {
  background: url(../images/sort.gif) center right no-repeat;
  padding-right: 16px;
  cursor: pointer;
}

/* line 317, ../sass/admin.scss */
.sorted-asc {
  background: #d9e9f2 url(../images/asc.gif) center right no-repeat;
  border-color: #8dbdd8;
}

/* line 321, ../sass/admin.scss */
.sorted-desc {
  background: white url(../images/desc.gif) center right no-repeat;
  border-color: #8dbdd8;
}

/* line 326, ../sass/admin.scss */
a.pager-page {
  padding: 3px;
  border: solid 1px silver;
}

/* line 330, ../sass/admin.scss */
span.pager-page {
  padding: 3px;
  background: silver;
}

/* line 334, ../sass/admin.scss */
.tabular {
  clear: both;
}

/* line 338, ../sass/admin.scss */
#adminToolbar {
  position: relative;
  top: 20px;
  float: right;
}
/* line 343, ../sass/admin.scss */
#adminToolbar ul, #adminToolbar li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}
/* line 349, ../sass/admin.scss */
#adminToolbar ul {
  text-align: right;
}
/* line 353, ../sass/admin.scss */
#adminToolbar li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#adminToolbar li {
  *display: inline;
}
/* line 357, ../sass/admin.scss */
#adminToolbar li a:link, #adminToolbar li a:visited {
  background: #d9d9d9;
  border: 1px solid #aaa;
  border-color: #aaa #999 #888;
  color: #000;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  margin: 0 20px 0 0;
  padding: 8px 16px;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(100%, #d9d9d9));
  background: -webkit-linear-gradient(#ededed, #d9d9d9);
  background: -moz-linear-gradient(#ededed, #d9d9d9);
  background: -o-linear-gradient(#ededed, #d9d9d9);
  background: -ms-linear-gradient(#ededed, #d9d9d9);
  background: linear-gradient(#ededed, #d9d9d9);
  -webkit-box-shadow: inset 0 1px 0 white, 0 1px 4px rgba(150, 150, 150, 0.5);
  -moz-box-shadow: inset 0 1px 0 white, 0 1px 4px rgba(150, 150, 150, 0.5);
  box-shadow: inset 0 1px 0 white, 0 1px 4px rgba(150, 150, 150, 0.5);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}
/* line 7, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#adminToolbar li a:link, #adminToolbar li a:visited {
  *display: inline;
}
/* line 377, ../sass/admin.scss */
#adminToolbar li a:link:hover, #adminToolbar li a:link:focus, #adminToolbar li a:link.loading, #adminToolbar li a:visited:hover, #adminToolbar li a:visited:focus, #adminToolbar li a:visited.loading {
  background: #2F5163;
  border-color: #333;
  color: #fff;
  text-shadow: 0 1px 1px #111;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 4px rgba(150, 150, 150, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 4px rgba(150, 150, 150, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 4px rgba(150, 150, 150, 0.5);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f6d86), color-stop(100%, #2f5163));
  background: -webkit-linear-gradient(#3f6d86, #2f5163);
  background: -moz-linear-gradient(#3f6d86, #2f5163);
  background: -o-linear-gradient(#3f6d86, #2f5163);
  background: -ms-linear-gradient(#3f6d86, #2f5163);
  background: linear-gradient(#3f6d86, #2f5163);
}
/* line 386, ../sass/admin.scss */
#adminToolbar li a:link:active, #adminToolbar li a:visited:active {
  border-color: #000;
  -webkit-box-shadow: inset 0 0 8px black;
  -moz-box-shadow: inset 0 0 8px black;
  box-shadow: inset 0 0 8px black;
}
/* line 391, ../sass/admin.scss */
#adminToolbar li a:link.loading, #adminToolbar li a:visited.loading {
  background: #2f5163 url("/images/loader.gif") 15px 50% no-repeat;
  background: url("/images/loader.gif") 15px 50% no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f6d86), color-stop(100%, #2f5163));
  background: url("/images/loader.gif") 15px 50% no-repeat, -webkit-linear-gradient(#3f6d86, #2f5163);
  background: url("/images/loader.gif") 15px 50% no-repeat, -moz-linear-gradient(#3f6d86, #2f5163);
  background: url("/images/loader.gif") 15px 50% no-repeat, -o-linear-gradient(#3f6d86, #2f5163);
  background: url("/images/loader.gif") 15px 50% no-repeat, -ms-linear-gradient(#3f6d86, #2f5163);
  background: url("/images/loader.gif") 15px 50% no-repeat, linear-gradient(#3f6d86, #2f5163);
  padding-left: 40px;
}
/* line 398, ../sass/admin.scss */
#adminToolbar li:last-child {
  border: 0;
}

/* line 404, ../sass/admin.scss */
#adminToolbar li ul {
  display: none;
  float: left;
  clear: left;
  position: absolute;
  background: #1993A8;
}

/* line 415, ../sass/admin.scss */
ul.tabs {
  height: 32px;
}

/* line 419, ../sass/admin.scss */
ul.tabs li {
  float: left;
  height: 31px;
  line-height: 31px;
  border: 1px solid #999;
  margin: 0 5px -1px 0;
  background: #e0e0e0;
  overflow: hidden;
  position: relative;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

/* line 434, ../sass/admin.scss */
ul.tabs li a {
  text-decoration: none;
  color: #000;
  display: block;
  font-size: 0.875em;
  padding: 0 20px;
  border: 1px solid #eee;
  outline: none;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 446, ../sass/admin.scss */
ul.tabs li a:hover {
  background: #ccc;
}

/* line 450, ../sass/admin.scss */
ul.tabs li.active,
ul.tabs li.active a:hover {
  background: #fff;
  border-bottom: 1px solid #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 455, ../sass/admin.scss */
.tab-container {
  background: #fff;
  border: 1px solid #999;
  clear: both;
  padding: 0 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 464, ../sass/admin.scss */
.tab-content {
  padding: 20px 0 10px;
}
/* line 467, ../sass/admin.scss */
.tab-content h3, .tab-content h4 {
  background: #2F5163;
  border: 1px solid #1f3540;
  color: #fff;
  font-size: 1.25em;
  left: -30px;
  position: relative;
  padding: 5px 15px;
  float: left;
  text-shadow: 0 1px 1px black;
  text-transform: capitalize;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -ms-border-top-left-radius: 8px;
  -o-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 1px 1px 3px #cccccc;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 1px 1px 3px #cccccc;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 1px 1px 3px #cccccc;
}
/* line 485, ../sass/admin.scss */
.tab-content h3:after, .tab-content h4:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  top: 100%;
  border-width: 5px 4px;
  border-style: solid;
  border-color: black black transparent transparent;
}

/* line 499, ../sass/admin.scss */
.tab-content img {
  float: left;
  margin: 0 20px 20px 0;
  padding: 5px;
}

/* line 504, ../sass/admin.scss */
.tab-container .actions {
  margin: 0;
}

/* line 509, ../sass/admin.scss */
.mail-templates .mail-template {
  display: block;
  margin: 1em;
  padding: 1em;
  background: #ededed;
  -webkit-box-shadow: inset 0 1px 0 white, 0 1px 4px rgba(150, 150, 150, 0.5);
  -moz-box-shadow: inset 0 1px 0 white, 0 1px 4px rgba(150, 150, 150, 0.5);
  box-shadow: inset 0 1px 0 white, 0 1px 4px rgba(150, 150, 150, 0.5);
  border: 1px solid #aaa;
  border-color: #aaa #999 #888;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}
/* line 518, ../sass/admin.scss */
.mail-templates .mail-template .mail-subject {
  font-style: italic;
}
/* line 521, ../sass/admin.scss */
.mail-templates .mail-template .mail-body {
  word-wrap: break-word;
}

/* line 530, ../sass/admin.scss */
.form-item {
  border-top: 1px solid #d9d9d9;
  clear: both;
  margin: 20px 0;
  padding: 10px 0 0;
}

/* line 537, ../sass/admin.scss */
.fieldset-fields {
  clear: both;
  margin-bottom: 60px;
}

/* line 542, ../sass/admin.scss */
label {
  display: inline-block;
  font-weight: bold;
  width: 20%;
  text-align: left;
  padding-right: 10px;
  vertical-align: top;
}

/* line 551, ../sass/admin.scss */
label.for-checkable {
  width: auto;
  text-align: left;
  padding: 0 0 0 10px;
}

/* line 557, ../sass/admin.scss */
textarea, input[type="text"], input[type="password"], select, .readonlytext {
  border-radius: 3px;
  border: 1px solid #999;
  padding: 1%;
  width: 70%;
}

/* line 564, ../sass/admin.scss */
.readonlytext {
  display: inline-block;
  border: 1px solid #eee;
  padding: 0.75%;
}

/* line 570, ../sass/admin.scss */
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, select:focus {
  border-color: #007DFF;
}

/* line 573, ../sass/admin.scss */
textarea {
  width: 69%;
  height: 200px;
}

/* line 578, ../sass/admin.scss */
.description {
  color: #777;
  padding: 2px 0 5px 198px;
  font: italic 11px/1.5em Georgia, serif;
  max-width: 420px;
  display: block;
}

/* line 586, ../sass/admin.scss */
.button, button, input[type="submit"], a.submit {
  background: #d9d9d9;
  border: 1px solid #aaa;
  border-color: #aaa #999 #888;
  color: #000;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  margin: 0 20px 0 0;
  padding: 8px 16px;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(100%, #d9d9d9));
  background: -webkit-linear-gradient(#ededed, #d9d9d9);
  background: -moz-linear-gradient(#ededed, #d9d9d9);
  background: -o-linear-gradient(#ededed, #d9d9d9);
  background: -ms-linear-gradient(#ededed, #d9d9d9);
  background: linear-gradient(#ededed, #d9d9d9);
  -webkit-box-shadow: inset 0 1px 0 white, 0 1px 4px rgba(150, 150, 150, 0.5);
  -moz-box-shadow: inset 0 1px 0 white, 0 1px 4px rgba(150, 150, 150, 0.5);
  box-shadow: inset 0 1px 0 white, 0 1px 4px rgba(150, 150, 150, 0.5);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}
/* line 7, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.button, button, input[type="submit"], a.submit {
  *display: inline;
}
/* line 607, ../sass/admin.scss */
.button:hover, .button:focus, .button.loading, button:hover, button:focus, button.loading, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"].loading, a.submit:hover, a.submit:focus, a.submit.loading {
/*
  background: #2F5163;
  border-color: #333;
  color: #fff;
  text-shadow: 0 1px 1px #111;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 4px rgba(150, 150, 150, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 4px rgba(150, 150, 150, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 4px rgba(150, 150, 150, 0.5);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f6d86), color-stop(100%, #2f5163));
  background: -webkit-linear-gradient(#3f6d86, #2f5163);
  background: -moz-linear-gradient(#3f6d86, #2f5163);
  background: -o-linear-gradient(#3f6d86, #2f5163);
  background: -ms-linear-gradient(#3f6d86, #2f5163);
  background: linear-gradient(#3f6d86, #2f5163);
  */
}
/* line 616, ../sass/admin.scss */
.button:active, button:active, input[type="submit"]:active, a.submit:active {
  border-color: #000;
  -webkit-box-shadow: inset 0 0 8px black;
  -moz-box-shadow: inset 0 0 8px black;
  box-shadow: inset 0 0 8px black;
}
/* line 621, ../sass/admin.scss */
.button.loading, button.loading, input[type="submit"].loading, a.submit.loading {
  background: #2f5163 url("/images/loader.gif") 15px 50% no-repeat;
  background: url("/images/loader.gif") 15px 50% no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f6d86), color-stop(100%, #2f5163));
  background: url("/images/loader.gif") 15px 50% no-repeat, -webkit-linear-gradient(#3f6d86, #2f5163);
  background: url("/images/loader.gif") 15px 50% no-repeat, -moz-linear-gradient(#3f6d86, #2f5163);
  background: url("/images/loader.gif") 15px 50% no-repeat, -o-linear-gradient(#3f6d86, #2f5163);
  background: url("/images/loader.gif") 15px 50% no-repeat, -ms-linear-gradient(#3f6d86, #2f5163);
  background: url("/images/loader.gif") 15px 50% no-repeat, linear-gradient(#3f6d86, #2f5163);
  padding-left: 40px;
}

/* line 629, ../sass/admin.scss */
input.date {
  width: 3em;
}

/* line 631, ../sass/admin.scss */
input.date-day,
input.time {
  width: 2em;
}

/* line 633, ../sass/admin.scss */
select.date.date-month {
  width: 42%;
}

/* line 637, ../sass/admin.scss */
input.checkbox, input.radio {
  margin-left: 160px;
}

/* line 638, ../sass/admin.scss */
input.labelFirst {
  margin-left: auto;
}

/* line 639, ../sass/admin.scss */
form .section {
  margin: 0 0 20px;
}

/* line 640, ../sass/admin.scss */
form .section:first-child {
  border: 0;
}

/* line 641, ../sass/admin.scss */
.actions {
  clear: both;
  padding: 20px 0 20px 20px;
  border-top: 1px solid #ccc;
  margin: 10px 0 0;
  height: 35px;
}

/* line 642, ../sass/admin.scss */
.actions input {
  float: right;
}

/* line 646, ../sass/admin.scss */
.log-in-or-register {
  float: right;
}

/* line 647, ../sass/admin.scss */
.link-divider {
  width: 0;
  height: 1.2em;
  overflow: hidden;
  display: inline-block;
  border-right: 1px solid #000;
  margin: 0 5px;
}

/* line 648, ../sass/admin.scss */
#user-login {
  position: absolute;
  right: 0;
  top: 30px;
  display: none;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px #333;
}

/* line 649, ../sass/admin.scss */
#user-login form {
  padding: 20px;
  background: #eee;
}

/* line 650, ../sass/admin.scss */
#user-welcome-or-login h2 {
  display: none;
}

/* line 651, ../sass/admin.scss */
#user-welcome-or-login label {
  padding: 0;
  text-align: left;
  width: auto;
}

/* line 652, ../sass/admin.scss */
#user-welcome-or-login input {
  width: 180px;
}

/* line 653, ../sass/admin.scss */
#user-welcome-or-login .form-field {
  margin: 0 0 2px;
}

/* line 654, ../sass/admin.scss */
#user-welcome-or-login .actions {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 655, ../sass/admin.scss */
#user-welcome-or-login .actions a {
  display: none;
}

/* line 656, ../sass/admin.scss */
#user-welcome-or-login input[type="submit"] {
  width: auto;
  padding: 3px 8px;
  font-size: inherit;
  font-weight: normal;
}

/* line 659, ../sass/admin.scss */
#user-login:before,
#user-login:after {
  content: "";
  position: absolute;
  z-index: 998;
  top: -8px;
  right: 78px;
  margin-left: -8px;
  border-top: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #eee;
}

/* line 672, ../sass/admin.scss */
#user-login:after {
  border-bottom: 9px solid #ccc;
  top: -9px;
  z-index: 997;
}

/* general 'close' button - round with an 'x',
   actually a multiplication sign:  `&times;` `&#215;`  `&#xD7;`  `×`  */
/* line 680, ../sass/admin.scss */
.close {
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  text-align: center;
  overflow: hidden;
  background: #aaa;
  color: #aaa;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

/* line 697, ../sass/admin.scss */
.close:before {
  content: "\D7";
  color: #000;
  display: block;
  text-align: center;
  font-weight: normal;
  width: 16px;
  position: absolute;
  top: -1px;
  left: 0;
  font-size: 13px;
  line-height: 16px;
  font-family: "Helvetica Neue", Consolas, Verdana, Tahoma, Calibri, Helvetica, Menlo, "Droid Sans", sans-serif;
}

/* messages [info, success, warning, error] */
/* line 715, ../sass/admin.scss */
#messages {
  clear: both;
  position: absolute;
  top: 60px;
  left: 20px;
  border-radius: 8px;
  overflow: hidden;
}

/* line 723, ../sass/admin.scss */
#messages ul {
  list-style: none;
}

/* line 729, ../sass/admin.scss */
.info,
.success,
.warning,
.error {
  border: 1px solid;
  margin: 0 0 20px;
  padding: 10px 15px;
  background-repeat: no-repeat;
  background-position: 10px 6px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55);
}

/* line 741, ../sass/admin.scss */
.info {
  color: #00529B;
  background-color: #BDE5F8;
  border-color: #8fd3f3;
}

/* line 746, ../sass/admin.scss */
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
}

/* line 750, ../sass/admin.scss */
.warning {
  color: #9F6000;
  background-color: #FEEFB3;
}

/* line 754, ../sass/admin.scss */
.error {
  color: #D8000C;
  background-color: #F6D6D6;
}

/* line 759, ../sass/admin.scss */
.sidePanelItem {
  margin: 0 0 10px;
}

/* line 761, ../sass/admin.scss */
.language-wrap {
  border: 1px solid #d9d9d9;
  padding: 20px;
  margin: 0 0 40px;
  -webkit-box-shadow: 0 1px 4px #d9d9d9;
  -moz-box-shadow: 0 1px 4px #d9d9d9;
  box-shadow: 0 1px 4px #d9d9d9;
}
/* line 769, ../sass/admin.scss */
.language-wrap pre {
  clear: both;
  white-space: wrap;
}
/* line 774, ../sass/admin.scss */
.language-wrap h3, .language-wrap h4 {
  background: #2F5163;
  border: 1px solid #1f3540;
  color: #fff;
  font-size: 1.25em;
  left: -30px;
  position: relative;
  padding: 5px 15px;
  float: left;
  text-shadow: 0 1px 1px black;
  text-transform: capitalize;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  -ms-border-top-right-radius: 8px;
  -o-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -ms-border-top-left-radius: 8px;
  -o-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 1px 1px 3px #cccccc;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 1px 1px 3px #cccccc;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 1px 1px 3px #cccccc;
}
/* line 792, ../sass/admin.scss */
.language-wrap h3:after, .language-wrap h4:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  top: 100%;
  border-width: 5px 4px;
  border-style: solid;
  border-color: black black transparent transparent;
}
