.tabcontainer{
	overflow-x: auto;
}
.dropdown-menu{
	top: initial;
    left: initial;
	background: rgba(120,120,120,0.2);
}


.box-modal {
	position: relative;
	width: 500px;
	padding: 16px;
	background: #fff;
	color: #3c3c3c;
	font: 14px/18px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	box-shadow: 0 0 0 6px rgba(153, 153, 153, .3);
	border-radius: 6px;
}
.box-modal_close { position: absolute; right: 10px; top: 6px; font-size: 11px; line-height: 15px; color: #999; cursor: pointer; }
.box-modal_close:hover { color: #666; }

/*
CSS for CRIS by Xaaser2006@gmail.com
05.11.17 start
25.01.18 totally rebuild with flex
*/
* , *::before , *::after {
	box-sizing: inherit;
}

/** {
	-moz-transition: all 0.3s ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
}*/

html {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #fff;
	overflow-y: auto;
}

#map {
    width: 100%;
	height: 350px;
	position: relative;
}

.mapsearchcontainer{
	height: 360px;
	width: 100%;
}
.searchtab{	
	overflow: auto;    
	padding: 3px;	
	bottom: 0px;
	left: 0px;
	right: 0px;    
	margin-bottom: 20px;
}

.content_div {
	color: #000;
}

.container {
	width: 1170px;
	margin: 0 auto;
	padding: 0 10px;
}

.btn-cris {
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	padding: 10px 15px;
	border: 1px solid #ff9000;
	border-radius: 5px;
	background-color: #ff9000;	
}

a.btn-cris:hover, a.btn-cris:focus {
    color: #fff;
    text-decoration: none;
}

.btn-cris:hover, .btn-cris:focus {
	background-color: #b76b08;
	border: 1px solid #b76b08;
}

.ghost-btn-cris {
	color: #fff;
	border: 1px solid #fff;
	background-color: transparent;
}

.visually-hidden {
	background: rgba(0,0,0,0.5);
	opacity: 0;
	-moz-transition: all 0.5s ease;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
}

section {
	margin: 20px 0;
	padding: 20px 0;
}

/*header*/

.main-header {
	/*padding-bottom: 240px;*/
	background-color: #131c00;
	background-image: url("../images/first_bg.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;

}

.main-header-small {
	background-color: #131c00;
	background-image: url("../images/first_bg.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;

}

.main-header-small .first-look{
	display: None;
}
.wrapper {
	background: rgba(120,120,120,0.2);
}

.main-navigation {
	display: flex;
	padding: 10px 0;

}

.main-menu,
.user-menu,
.structure {
	padding: 0;
	margin: 0;
	list-style: none;
		
	border-radius: 5px;
}

.main-logo {
	margin-right: 40px;
}

.main-menu {
	display: flex; 
	align-items: center; 	
}

.menu-item {                
	margin-right: 20px;
}

.user-menu {
	margin-left: auto;
	display: flex; 
	align-items: center; 

	font-size: 20px;
	font-weight: bold;
}

.main-menu a,
.user-menu a ,
.dropdown-menu a, .dropdown-menu > li > a 
{
	font-size: 15px;
	font-weight: bold;
	padding: 5px 10px;
	border: 1px solid transparent;

	color: #fff;
/*	text-align: center;*/
	text-decoration: none;
	text-transform: uppercase;
}

.main-menu a:hover, .main-menu a:focus,
.user-menu a:hover, .user-menu a:focus {
	color: #ff9000;
	border-bottom-color: #ff9000;
	/*background-color: rgba(0,0,0,0.2);*/
	outline: none;
}

.main-menu a:active, 
.user-menu a:active {
	color: #b76b08;
	border-bottom-color: #b76b08;
	/*background-color: rgba(0,0,0,0.1);*/
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}



/*first-look*/



.first-look h1 {
	margin: 0;
	margin-top: 230px;
	margin-bottom: 15px;

	font-size: 46px;
	font-weight: bold;
	text-align: center;
}

.first-look p {
	width: 60%;
	margin: 0px auto;
	margin-bottom: 50px;
	text-align: center;
}


.buttons {
	text-align: center;
}

.buttons a {
	margin-right: 20px;
}

.structure a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
/*work-flow*/

.work-flow .container {
	display: flex;
	justify-content: space-between;
}
.description {
	width: 300px;
	margin: 0;
	padding: 15px 20px;

	font-size: 18px;
	border: 1px solid red;
	border-radius: 15px;
	background-color: grey;
}

.work-area {
	width: 500px;
	min-height: 500px;
}

.work-area img {
	width: 100%;
}


h2 {
	margin: 0;
	margin-top: 30px;
	margin-bottom: 20px;

	text-transform: uppercase;
	color: #000;
	font-size: 36px;
	font-weight: bold;
}
/*sections*/

.sections h2 {
	margin: 0;
	margin-top: 30px;
	margin-bottom: 40px;

	text-transform: uppercase;
	color: #000;
	font-size: 36px;
	font-weight: bold;
}

.sections h2::after {
	content: '';
	display: block;
	width: 200px;
	height: 3px;
	margin-top: 20px;
	background-color: #ff9000;
}

.sections p {
	margin: 0;
	margin-bottom: 40px;
	color: #000;

}

 .structure {
	display: flex;
	justify-content: space-between;

}

 .structute-item {
	width: 250px;
	/*min-height: 300px;*/
	align-items: stretch;
	border: 1px solid red;

	padding: 30px 15px;
	text-align: center;
}

 .structute-item h3 {
	font-size: 19px;
	font-weight: bold;
	text-align: center;
}

.structute-item ul {
	/*padding: 0;*/
	margin-bottom: 20px;
}

.structute-item a {
	
}

.structute-item:hover .visually-hidden {opacity: 1}


.structute-item:nth-child(1) {
	background: url("../images/mosses.JPG") no-repeat center top / cover;
}

.structute-item:nth-child(2) {
	background: url("../images/cyano.jpg") no-repeat center top / cover;
}

.structute-item:nth-child(3) {
	background: url("../images/fungi.JPG") no-repeat center top / cover;
}

.structute-item:nth-child(4) {
	background: url("../images/hepatics.jpg") no-repeat center top / cover;
}




/*footer*/

.main-footer {
	padding: 20px 0;
	
	font-size: 13px;

	background-color: #131c00;
}

.main-footer .container {
	display: flex;
	justify-content: space-between;
}

.main-footer p {
	margin: 0;
}

.copyright {
	width: 235px;
}

.creators {
	width: 300px;	
}

.creators a {
	color: #fff;
	text-decoration: none;
}