.bs-item {
  position: relative;
  margin: 0 0;
  padding: 10px 10px 10px 10px;
  *padding-top: 19px;
  background-color: #f7f7f9;
  border: 1px solid #ddd;
  width: 650px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.amenu{
	background: #eeeeee;
	border-radius: 10px;
	margin-top: 20px;
	border: 1px solid #ccc;
}