/* Special Stylesheet for geothemes-wide case */

.mediummap {
	width: 100%;
	max-width: 2040px;
	height: 500px;
	min-height: 500px;
	border: 1px solid black;
	margin: 0px auto;
}
.datatable_wide {
	width: 100%;
	overflow-y: scroll;
}
.align-center {
	margin-left: auto;
	margin-right: auto;
}