/* Main menu */
/* Excellent CSS from http://www.red-team-design.com/css3-dropdown-menu */
/* line 7, ../sass/primary-menu.scss */
html {
  /*padding-top: 40px;*/
}

/* line 11, ../sass/primary-menu.scss */
#primary-menu {
  /* background: #ffffff;
  background-color: #ffffff;
  border-bottom: 1px solid #16272f; */
  position: relative;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 2px 0 0 0;
  top: 0;
  /* width: 100%; */
  /*z-index: 9999;*/  
}

/* line 26, ../sass/primary-menu.scss */
#primary-menu li {
  float: left;
  padding: 0;
  position: relative;
}

/* line 32, ../sass/primary-menu.scss */
#primary-menu a {
  color: #333333;
  float: left;
  font-size: 14px;
  height: 20px;
  padding: 0 22px;
  line-height: 30px;
  height: 33px;
  text-decoration: none;
  text-shadow: none;
}

/* line 44, ../sass/primary-menu.scss */
#primary-menu li:hover > a {
  color: #333;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  border-radius: 5px;
}

/* line 48, ../sass/primary-menu.scss */
* html #primary-menu li a:hover {
  color: #fafafa;
}

/* line 52, ../sass/primary-menu.scss */
#primary-menu li:hover > ul {
  display: block;
}

/* line 56, ../sass/primary-menu.scss */
#primary-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 99999;
  background: #FFFFFF;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  min-width: 160px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 73, ../sass/primary-menu.scss */
#primary-menu ul ul {
  top: 0;
  left: 140px;
}

/* line 78, ../sass/primary-menu.scss */
#primary-menu ul li {
  float: none;
  margin: 0;
  padding: 0;
  display: block;
 /* -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
  -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
  box-shadow: 0 1px 0 #111111, 0 2px 0 #777777; */
}

/* line 86, ../sass/primary-menu.scss */
#primary-menu ul li:last-child {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 90, ../sass/primary-menu.scss */
#primary-menu ul a {
  padding: 10px;
  height: 10px;
  width: auto;
  height: auto;
  line-height: 1;
  display: block;
  white-space: nowrap;
  float: none;
  text-transform: none;
}

/* line 102, ../sass/primary-menu.scss */
#primary-menu ul a {
  *height: 10px;
  /* IE6 & IE7 */
}

/* line 106, ../sass/primary-menu.scss */
#primary-menu a:hover {
  background: #0186ba;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #04acec), color-stop(100%, #0186ba));
  background: -webkit-linear-gradient(#04acec, #0186ba);
  background: -moz-linear-gradient(#04acec, #0186ba);
  background: -o-linear-gradient(#04acec, #0186ba);
  background: -ms-linear-gradient(#04acec, #0186ba);
  background: linear-gradient(#04acec, #0186ba);
}

/* line 111, ../sass/primary-menu.scss */
#primary-menu ul li:first-child > a {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 115, ../sass/primary-menu.scss */
#primary-menu ul li:first-child > a:after {
  /* content: '';
  position: absolute;
  left: 30px;
  top: -8px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #444; */
}

/* line 127, ../sass/primary-menu.scss */
#primary-menu ul ul li:first-child a:after {
  left: -8px;
  top: 12px;
  width: 0;
  height: 0;
  border-left: 0;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-right: 8px solid #444;
}

/* line 138, ../sass/primary-menu.scss */
#primary-menu ul li:first-child a:hover:after {
  border-bottom-color: #04acec;
}

/* line 142, ../sass/primary-menu.scss */
#primary-menu ul ul li:first-child a:hover:after {
  border-right-color: #04acec;
  border-bottom-color: transparent;
}

/* line 148, ../sass/primary-menu.scss */
#primary-menu ul li:last-child > a {
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
/* line 154, ../sass/primary-menu.scss */
#primary-menu:after {
  /* visibility: hidden; */
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 163, ../sass/primary-menu.scss */
#primary-menu {
  *zoom: 1;
}

/* IE6 & IE7 */
