.jstree-contextmenu{
    z-index: 1003;
}
/* .context-menu{
	z-index: 103;
	position: absolute;
	background: #f5f5f5;
	margin: 0;
    padding: 2px;
    border: 1px solid #979797;
    box-shadow: 2px 2px 2px #999999;
} */

.ui-dialog{
	z-index: 900;
}

 #filelist {
	max-height: 300px;
	overflow: auto;
  } 
  
  .file_item {
	/* display: flex; */
	/* justify-content: space-between; */
	padding: 12px 0;
	border-bottom: solid 1px #dfdfdf;
  }
  
  .task:last-child {
	border-bottom: none;
  }
  
  /* context menu */
  
  .context-menu {
	display: none;
	position: absolute;
	z-index: 103;
	padding: 12px 0;
	width: 240px;
	background-color: #fff;
	border: solid 1px #dfdfdf;
	box-shadow: 1px 1px 2px #cfcfcf;
  }
  
  .context-menu--active {
	display: block;
  }
  
  .context-menu__items {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .context-menu__item {
	display: block;
	margin-bottom: 4px;
  }
  
  .context-menu__item:last-child {
	margin-bottom: 0;
  }
  
  .context-menu__link {
	display: block;
	padding: 4px 12px;
	color: #0066aa;
	text-decoration: none;
  }
  
  .context-menu__link:hover {
	color: #fff;
	background-color: #0066aa;
  }

html,body {
	height: 100%;
	width: 100%;
}

.dragbar {
	position: absolute;
	width: 100%;
    height: 10px;
    cursor: row-resize;
}

textarea{
	width: 450px;
	height: 100px;
	
}

.alltabcontainer{
	height: 100%;
	margin-top: 10px;
	/* overflow: auto; */
}
.tabcomands{
	/* width: 630px; */
	/* float: left; */
	height: 40px;
    position: absolute;
}
.tabcontainer{	
	/* width: 100%; */
	/* position: absolute; */
	/* margin-top: 10px;     */
	/* padding-top: 40px;     */
	margin-top: 40px;
    /* height: 1px;
	min-height: 100%;	 */
	padding-bottom: 60px;
	overflow: auto;
	display: inline-block;
    width: 100%;
}

.h100{
	height:100%;
}


.tabpagination{
	position: absolute;
    left: 0px;
	bottom: 0px;
	background: #fff;
    display: block;
    width: 100%;
}
.datatable{
	height: 100%;
}

.alltabcontainer .edittab{
	min-height: 100%;    
    padding-top: 50px;
    height: 1px;
}


.alltabcontainer ul{
	display: block;
    height: 50px;
    position: absolute;
}
.maptblbuttons{
    float: right;
    width: 198px;
	margin: 2px;
	margin-left: 8px	
}

.btn_div{
	position: absolute;
	float: left;
	top: 10px;
	left: 50px;
	z-index: 7;	
	background: white;
	border-radius: 10px;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 10px;	
}



/* .div_btn_top{
	position: absolute;
	top: 10px;	
	right: 10px;
    left: 10px;
    width: initial;
} */

.tab_height_control{
	width: 200px;
	position: absolute;
	right: 0px;
	top: 0px;
	height: 25px;
	float: right;
}

.wps-launcher-tab{
	height: 100%;
}

.wps-launcher-tab__container {
	height: inherit;
}

.wps-launcher-tab  .row-fluid {
	height: inherit;
}

.wps-launcher-tab  > .row-fluid > .span4 {
	height: inherit;
}

.wps-launcher-tab__input-parameters {
	overflow-y: scroll;
    height: -o-calc(100% - 45px);
    height: -webkit-calc(100% - 45px);
    height: -moz-calc(100% - 45px);
	width: 100%;
}

.wps-launcher-tab__progress-bar-container {
	padding: 40px;
}

.executionconsole-container {
	height: 100%;
	padding: 10px;
}

.executionconsole {
	margin: 2px;
	border : 1px solid black;
	overflow : scroll;
	font-size: 12px;
	min-height : 100px;
	height : 100%;
	width : 100%;
}

.greeting {
	position: absolute;
	left: 50%;
	top: 30%;
	margin-left: -185px;
	color: #999;
	text-align: center;
}

.mapcontaier {
	position: absolute;
	top: 0px;
	left:0px;
	height : 100%;
	width: 100%;
}

.map {
	width: 100%;
	height: 100%;
}

.homepagecontainer {
	height: 100%;
	overflow: hidden;
}





.create-service__service-list-container {
	font-family: Consolas, monaco, monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	background-color: rgba(171, 171, 171, 0.22);
    padding: 10px;
	font-size: 12px;
    line-height: 100%;
}

.create-service__service-list-container-line_green {
	color: green;
}

.create-service__function-body-field {
	margin: 0;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 500px;
	margin-top: 20px;
}

.chart {
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.bar {
	fill: #33b5e5;
}

.bar-failed {
	fill: #CC0000;
}

.bar-running {
	fill: #669900;
}

.bar-succeeded {
	fill: #33b5e5;
}

.bar-killed {
	fill: #ffbb33;
}




.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


.tcmd_check{
    margin: 0px 0 0 ;
}

.tcmd_select{
    margin-bottom: 0px;
	height: 18px ;
	padding: 0px 6px ;
	width: 60px;
	

}

.smart_h4_header{	
	text-align: left;
	color: #46A036;
	font-size: 14px;	
}

.smart_h3_header{
	font-size: 12px;
	
}
.smart_header{
	width:100%;
	height:20px;
	font-size: 16px;
	//background-color: #e6e6e6;
	color: #46A036;
	padding-left: 10px;
}

.smart_info_form {
	z-index: 7;
	background: white;
	position: absolute;	
	margin-right: auto;
	
	width: 280px;
	height: 75%;
	overflow: visible;
	overflow-y: auto;
	border-radius: 10px;
	padding: 10px;
}

.smart_search_form {
	display: none;
	z-index: 7;
	background: white;
	position: relative;	
	margin-left: 45px;
	margin-right: auto;
	width: 300px;
	top: 10px;
	height: 90%;
	overflow-y: auto;
	//left: 47px;		
	border-radius: 10px;
	padding: 10px;
}

.search_form {
	display: none;
	z-index: 7;
	background: white;
	position: relative;	
	margin-left: auto;
	margin-right: auto;
	top: 200px;
	//left: 47px;
	width: 215px;
	overflow: visible;
	border-radius: 10px;
	padding: 10px;
}

.img_path{
  text-align: left;
  }
  
/*.ui-dialog { z-index: 1501 !important ;}*/

.popupinplacetooltip{
	visibility: inherit;
  left: 200px;
  top: 300px;
  opacity: 1;
  display: block;
  z-index: 1010;
  border: 3px;
  max-width: none ;
  width: auto;
}

.editable-container.editable-popup {
    max-width: none ; /* without this rule poshytip/tooltip does not stretch */
}  

.editable-container.popover {
    width: auto; /* without this rule popover does not stretch */
}

.editable-container.editable-inline {
    display: inline-block; 
    vertical-align: middle;
    width: auto;
    /* inline-block emulation for IE7*/
    zoom: 1; 
    *display: inline;    
}

.editable-container.ui-widget {
   font-size: inherit;  /* jqueryui widget font 1.1em too big, overwrite it */
   z-index: 9990; /* should be less than select2 dropdown z-index to close dropdown first when click */
}

.login_form {
	display: none;
	z-index: 7;
	background: white;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 10px;
	//left: 47px;
	width: 215px;
	overflow: visible;
	border-radius: 10px;
	padding: 10px;
}
.head-layout{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
	height: 100%;
    left: 0;
    margin: 0 auto;   
}
.wraper-layout {
    position: absolute;
    top: 0px;
    bottom: 0;
    width: 100%;
	height: 100%;
    margin: 0 auto;
    margin: 0;
    padding: 0;
}
.left-layout {
    position: absolute;
    bottom: 0;
    width: 340px;
    height: 100%;    
	overflow-y:  scroll;	
    left: 0;
    margin: 0;
    padding: 0;
}

.dg-place-address {
	font-size: 15px;
	line-height: 30px;
}

.dg-catalog{
    position: absolute;
    bottom: 0;
    width: 340px;
    height: 100%;    
	overflow-y:  scroll;	
    left: 0;
    margin: 0;
    padding: 0;	
}

.right-layout { 
//    left: 340px;
    position: relative;
    bottom: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.b-leftside-switcher{
	left: 340px;
	position:fixed;
	z-index:1;
	top:8em;
	width:16px;
	height:28px;
	margin-top:300px;
	outline:none;
	cursor:pointer;
	background:url("./images/lswitcher.png") no-repeat 100% 0;
	background-position: 0 0;
}

.mb10{
	margin-bottom: 0px;
}

.tabsc{
	background-color: #F5F5F5;
}

.lswitch{
	background-position: 100% 0;
}

.left0{
	left: 0px;
}

.fleft{
	float: left;
}

.frigth{

	float: right;
}

.fullsc{
	width: 100%;
	height: 100%;
}

.b-leftside-switcher-pleft{
	left: 0px;
}

.mtop10{
	margin-top: 10px;
}

.onone{
	overflow: hidden;	
}

.clearb{
	clear: both;
}

.body-container{
	width: 100%;
	height: 100%;
}

/* #map {
	position: absolute;
} */

.tbl-header{
	height: 26px;
	background: #FFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.leaflet-top{
	height: 90%;
}

.leaflet-control-layers-expanded{
	height: 90%;
	width: 300px;
}

.leaflet-control-layers-list{
	height: 90%;	
	overflow-x: hidden;
}

.jstree-default.jstree-focused{
	background: #FFF;

}

.aheight{
	height: auto;
}

.filter-term {
	clear: both;
	float: left;
}

.column-filter-widget input{
	float: left;
}

.table thead th {
	vertical-align: top ;
}

.ui-dialog .ui-dialog-title {
	float: left;
	color: #404040;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: px;0
	padding: 0px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.dataTable{
	margin-bottom: 0px;
}

.bodyoverflow{
	z-index: 1000;
}

.ui-state-active{
	background: #CCC;
}

.amenu{
	display: block;
	background: white;
	left: 47px;
	top: 10px;
	margin-right: 110px;
/* width: 100%; */
/* position: inherit; */
	top: 10px;
	z-index: 7;
	margin-bottom: 10px;
	border-radius: 10px;
}



.ltree{
	display: block;
	position: relative;
	float: left;
	top: 2px;
	left: 2px;
	width: 420;
	z-index: 7;
	overflow: visible;
	background: white;
	/* float: right; */
	height: 300px;
	width: 300px;
	border-radius: 10px;
	padding: 2px;
	margin-right: 0px;
	margin-bottom: 0px;
}



.layer_tree{
display: none;
position: relative;
float: left;
top: 10px;
left: 47px;
width: 500;
z-index: 7;
overflow: visible;
background: white;
/* float: right; */
height: auto;
height: auto;
border-radius: 10px;
padding: 10px;
margin: 10px;
}