<!-- Leaflet styles -->
<link rel="stylesheet" href="/js/leaflet1.4/leaflet.css" />
<link rel="stylesheet" href="/js/leaflet/plugins/draw/dist/leaflet.draw.css" />
<link rel="stylesheet" href="/js/leaflet/css/leaflet.measurecontrol.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="/js/leaflet/leaflet.ie.css" /><![endif]-->
<link rel="stylesheet" href="/css/tmp.css"/>
<link rel="stylesheet" href="/css/sld_editor.css"/>


<script src="/js/leaflet1.4/leaflet-src.js"></script>
<script src="/js/leaflet/plugins/draw/dist/Leaflet.draw.js"></script>

<script src="/js/leaflet1.4/control/leaflet.measurecontrol.js"></script>

<script src="/js/leaflet1.4/control/Control.LayersTree.js"></script>
<script src="/js/leaflet/control/div_btn.js"></script>
<script src="/js/leaflet/control/selectObj.js"></script>

<script src="/js/leaflet/control/search.js"></script>
<script src="/js/leaflet/control/easy-button.js"></script>
<script src="/js/leaflet/control/Leaflet.Coordinates-0.1.5.min.js"></script>
<script src="/js/geocoder.js"></script>

<script src="/js/leaflet/layer/vector/KML.js"></script>
<script src="/js/leaflet/plugins/wicket/wicket.src.js"></script>

<script src="/js/leaflet/plugins/wicket/wicket-leaflet.src.js"></script>


<script src="/js/geothemes/map.js"></script>

<script src="/js/symbolizer.js"></script>
<script src="/js/sld_editor.js"></script>
<script src="/js/map_style_editor.js"></script>

<script src="http://api-maps.yandex.ru/2.0/?load=package.map&lang=ru-RU" type="text/javascript"></script>
<script src="/js/leaflet1.4/layer/tile/Yandex.js"></script>
<script src="/js/leaflet1.4/layer/tile/dgis.js"></script>

<scr ipt src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></scri pt>
<script src="http://maps.api.2gis.ru/1.0" type="text/javascript"></script>


<script  src="/js/map_info.js"></script>
<script  src="/js/RosReestr/RosReestr.js"></script>
<script  src="/js/RosReestr/RRConst.js"></script>
<script  src="/js/RosReestr/RRUtils.js"></script>