

<script  src="/js/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="/js/ui/1.12.1/jquery-ui.min.js"></script>
<script  src="/js/jquery.cookie.js"></script>





<script  src="/js/geothemes/users.js"></script>

<!-- <script  src="/js/cleanslate-core.js"></script> -->
<script  src="/js/homepage.js"></script>
<script  src="/js/misc.js"></script>

<script src="/js/homepageRouter.js"></script>

<script  src="/js/widgets/widgets.js"></script>
<script  src="/js/widgets/allwidgets.js"></script>

<script  src="/js/jstree.min.js"></script>
<script  src="/js/fm.js"></script>

<script  src="/js/geothemes/doc_forms.js"></script>
<script  src="/js/geothemes/initdatatables.js"></script>
<script  src="/js/geothemes/importdata.js"></script>
<script  src="/js/geothemes/tablediagrams.js"></script>
<!-- <script  src="/js/poshytip-1.2/src/jquery.poshytip.js"></script> -->
<!-- <script  src="/js/jquery.ui.datepicker-ru.js"></script> -->
<!-- <script  src="/js/jssor/jssor.slider.mini.js"></script> -->
<!-- <script  src="/js/jsTree/jquery.jstree.js"></script> -->
<script  src="/js/widgets/date.js"></script>
<!-- <script  src="/js/evol.colorpicker.min.js"></script> -->

<script  src="/js/geothemes/jspath.min.js"></script>
<script  src="/js/geothemes/parser.js"></script>
<script  src="/js/geothemes/fieldcalc.js"></script>



<!-- <script  src="/d3/d3.v3.min.js"></script> -->
<!-- <script  src="/d3/gantt-chart-d3.js"></script> -->
