<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="/js/ui/1.12.1/jquery-ui.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!--
Common styles section start.
Insert styles here, which are commonly used. Do not put styles, required by the certain modules.
-->
<link href="/css/table.css" rel="stylesheet" />
<!-- <link1 href="/css/menu.css" rel="stylesheet" /> -->
<link href="/css/admin-menu.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">

<!-- style for jstree -->
<link href="/css/jstree/style.min.css" rel="stylesheet">

<!-- Bootstrap -->
<!-- <link1 href="/css/bootstrap.min.css" rel="stylesheet" /> -->

<!-- Widgets CSS -->
<!-- <link1 href="/js/widgets/css/w_widgets.css" type="text/css" rel="stylesheet" /> -->

<!-- C3 diagram styles -->
<link rel="stylesheet" href="/js/diagrams/c3/c3.min.css">

<!-- pgwslideshow classes -->
<!-- <link rel="stylesheet" href="/js/PgwSlideshow/pgwslideshow.css" type="text/css" /> -->
<!-- <link rel="stylesheet" href="/js/PgwSlideshow/pgwslideshow_light.css" type="text/css" /> -->
<!-- <link1 rel="stylesheet" type="text/css" media="screen" href='/geothemes/jeditable/css/themes/bootstrap/jquery-ui-1.10.0.custom.css'> -->



<!-- Tooltip classes -->
<!-- <link rel="stylesheet" href="/js/poshytip-1.2/src/tip-yellow/tip-yellow.css" type="text/css" /> -->

<!-- <link rel="stylesheet" type="text/css" media="screen" href="/css/evol.colorpicker.css" /> -->
<link rel="stylesheet" type="text/css" media="screen" href="/css/Leaflet.Coordinates-0.1.5.css" />
<!--
Common styles section end.
-->