</head>
<body>
<!-- Page-specific styles -->
<link href="/css/geothemes-managejson.css" rel="stylesheet" type="text/css" />

<div id="actionresult" class="alert alert-success" role="alert">
    
</div>
<h2 id="tablename"></h2>
<div class="" id="access_mode_container">
<h3>User list</h3>	
	<button id="add_user" class="btn btn-sm"><i class="fas fa-user-plus"></i> Add user</a></button>
	<div id="user_list"></div>

	
</div>


<script  src="/js/geothemes/geothemes_accessmode.js"></script>
<script  src="/js/geothemes/tinymce/tinymce.min.js"></script>


<script type="text/javascript">
/*
	Globals
*/
var id, schema, tablename,ontology_table;

function init_page(){	
		
		id        = getQueryVariable('id');
		

		if (id !='') {
			if(isNaN(id))
				url="/dataset/list?f=100&iDisplayStart=0&iDisplayLength=100&s_fields=JSON&f_guid="+id;
			else
				url="/dataset/list?f=100&iDisplayStart=0&iDisplayLength=100&s_fields=JSON&f_id="+id;
			$.getJSON(url,{ ajax: 'true'}, function(data){
				var table_json    = JSON.parse(data.aaData[0].JSON);							
				$("#tablename").html(table_json.title);	
				
				accessmode_init($('#access_mode_container'), table_json, id);
			});

			
		}
}

$( document ).ready(function() {
    init_page();
});

</script>