<script src="/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>

<script  src="/js/wpsmanager/wpslauncher.js"></script>
<script  src="/js/wpsmanager/create.js"></script>
<script  src="/js/wpsmanager/environmentVisualization.js"></script>
<script  src="/js/wpsmanager/ServiceConsoleLog.js"></script>
<script  src="/js/wpsmanager/WPSSM.js"></script>

<link href="/js/wpsmanager/wpsmanager.css" rel="stylesheet">