<?xml version="1.0" encoding="utf-8"?>
<wps:ProcessDescriptions xmlns:ows="http://www.opengis.net/ows/1.1" xmlns:wps="http://www.opengis.net/wps/1.0.0" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.opengis.net/wps/1.0.0 http://schemas.opengis.net/wps/1.0.0/wpsDescribeProcess_response.xsd" service="WPS" version="1.0.0" xml:lang="en-US">
  <ProcessDescription wps:processVersion="1" storeSupported="false" statusSupported="false">
    <ows:Identifier><%= service.identifier %></ows:Identifier>
    <ows:Title><%= service.title %></ows:Title>
    <ows:Abstract><%= service.description %>.</ows:Abstract>
    <ows:Metadata xlink:title="My Demo"/>
<% if (datainputs.length > 0) { %>
	<DataInputs>
	<% for (var i = 0; i < datainputs.length; i++) {  %>
      <Input minOccurs="1" maxOccurs="1">
        <ows:Identifier><%= datainputs[i].fieldname %></ows:Identifier>
        <ows:Title><%= datainputs[i].title %></ows:Title>
        <ows:Abstract><%= datainputs[i].description %></ows:Abstract>
        <LiteralData>
          <ows:DataType ows:reference="http://www.w3.org/TR/xmlschema-2/#string">string</ows:DataType>
          <ows:AnyValue/>
          <DefaultValue>VRT</DefaultValue>
          <UOMs>
            <Supported/>
          </UOMs>
        </LiteralData>
      </Input>
	<% } %>
	</DataInputs>
<% } else { %>
	<DataInputs/>
<% } %>
<% if (dataoutputs.length > 0) { %>
	<ProcessOutputs>
	<% for (var i = 0; i < dataoutputs.length; i++) {  %>
      <Output minOccurs="1" maxOccurs="1">
        <ows:Identifier><%= dataoutputs[i].fieldname %></ows:Identifier>
        <ows:Title><%= dataoutputs[i].title %></ows:Title>
        <ows:Abstract><%= dataoutputs[i].description %></ows:Abstract>
        <LiteralData>
          <ows:DataType ows:reference="http://www.w3.org/TR/xmlschema-2/#string">string</ows:DataType>
          <ows:AnyValue/>
          <DefaultValue>VRT</DefaultValue>
          <UOMs>
            <Supported/>
          </UOMs>
        </LiteralData>
      </Output>
	<% } %>
	</ProcessOutputs>
<% } else { %>
	<ProcessOutputs/>
<% } %>
  </ProcessDescription>
</wps:ProcessDescriptions>
