<?xml version="1.0" encoding="utf-8"?>
<wps:Capabilities xmlns:ows="http://www.opengis.net/ows/1.1" xmlns:wps="http://www.opengis.net/wps/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xlink="http://www.w3.org/1999/xlink" xsi:schemaLocation="http://www.opengis.net/wps/1.0.0 http://schemas.opengis.net/wps/1.0.0/wpsGetCapabilities_response.xsd" service="WPS" xml:lang="en-US" version="1.2.0">
  <ows:ServiceIdentification>
    <ows:Title>Geoportal WPS server</ows:Title>
    <ows:Abstract>Development version of Geoportal WPS server (NodeJS based)</ows:Abstract>
    <ows:Keywords>
      <ows:Keyword>WPS</ows:Keyword>
      <ows:Keyword>GIS</ows:Keyword>
    </ows:Keywords>
    <ows:ServiceType>WPS</ows:ServiceType>
    <ows:ServiceTypeVersion>1.0.0</ows:ServiceTypeVersion>
    <ows:Fees>None</ows:Fees>
    <ows:AccessConstraints>none</ows:AccessConstraints>
  </ows:ServiceIdentification>
  <ows:ServiceProvider>
    <ows:ProviderName>ISDCT SB RAS</ows:ProviderName>
    <ows:ProviderSite xlink:href="http://www.idstu.irk.ru/"/>
    <ows:ServiceContact>
      <ows:IndividualName>Alex Shumilov</ows:IndividualName>
      <ows:PositionName>Developer</ows:PositionName>
      <ows:ContactInfo>
        <ows:Phone>
          <ows:Voice>False</ows:Voice>
          <ows:Facsimile>False</ows:Facsimile>
        </ows:Phone>
        <ows:Address>
          <ows:City>Irkutsk</ows:City>
          <ows:AdministrativeArea>False</ows:AdministrativeArea>
          <ows:PostalCode>664033</ows:PostalCode>
          <ows:Country>ru</ows:Country>
          <ows:ElectronicMailAddress>alexshumilov@yahoo.com</ows:ElectronicMailAddress>
        </ows:Address>
      </ows:ContactInfo>
    </ows:ServiceContact>
  </ows:ServiceProvider>
  <ows:OperationsMetadata>
    <ows:Operation name="GetCapabilities">
      <ows:DCP>
        <ows:HTTP>
          <ows:Get xlink:href="http://84.237.16.41:8800/"/>
        </ows:HTTP>
      </ows:DCP>
    </ows:Operation>
    <ows:Operation name="DescribeProcess">
      <ows:DCP>
        <ows:HTTP>
          <ows:Get xlink:href="http://84.237.16.41:8800/"/>
          <ows:Post xlink:href="http://84.237.16.41:8800/"/>
        </ows:HTTP>
      </ows:DCP>
    </ows:Operation>
    <ows:Operation name="Execute">
      <ows:DCP>
        <ows:HTTP>
          <ows:Get xlink:href="http://84.237.16.41:8800/"/>
          <ows:Post xlink:href="http://84.237.16.41:8800/"/>
        </ows:HTTP>
      </ows:DCP>
    </ows:Operation>
  </ows:OperationsMetadata>
  <wps:ProcessOfferings>
<% for (var i = 0; i < services.length; i++) {  %>
	<wps:Process wps:processVersion="1">
      <ows:Identifier><%= services[i].identifier %></ows:Identifier>
      <ows:Title><%= services[i].title %></ows:Title>
      <ows:Abstract><%= services[i].description %></ows:Abstract>
      <ows:Metadata xlink:title="My Demo"/>
    </wps:Process>
<% } %>
  </wps:ProcessOfferings>
  <wps:Languages>
    <wps:Supported>
      <ows:Language>en-US</ows:Language>
    </wps:Supported>
  </wps:Languages>
</wps:Capabilities>
