
/* Класс контекстного меню: */
.context-menu {
    position: absolute; /* Задаем абсолютное позиционирование для нашего меню */
    display: none; /* Изначально не показываем его */
    background-color: #fff; /* Цвет фона меню */
    border: 1px solid #333; /* Граница */

    /* Немного красивостей. Добавляем тень для нашего меню, что бы отобразить его слегка выше остальных элементов страницы: */
    -moz-box-shadow: -5px 2px 10px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: -5px 2px 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: -5px 2px 10px rgba(0,0,0,0.5); /* Параметры тени */
	z-index: 3000;
}

/* Добавляем стили для списка которые будет находиться внутри меню и, собственно, содержать его пункты: */
.context-menu ul { list-style: none; margin: 0; padding: 0; }
            
.context-menu ul li { margin: 0; padding: 0; background-color: #fff; display: block; }

/* Стили для ссылок пунктов меню: */
.context-menu ul li a { color: #333; text-decoration: none; font-size: 12px; display: block; padding: 5px; }
            
.context-menu ul li a:hover { background-color: #eee; }








.command_panel{
	border: 1px solid #ccc;
}
.tab_data{
	float: right;
	line-height: 20px;

}
//	right: .50em;
#fileds_container label {
	width: 100%;
}


l.t_label {
	text-align: rigth;
}

.doubledigit{
	width: 20px;
		padding-right:0px;
}


.g_activate1{
	overflow:scroll;
	max-height:125px;
	border:2px solid;
	border-radius: 10px;
}



.g_activate{
	min-height: 20px;
	padding: 0px;
	margin-bottom: 0px;
	background-color: #F5F5F5;
//	border: 1px solid;
	margin-right: 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
	
.w_points{
	border:1px dashed;
	width: 240px;
	border-radius: 2px;
	padding: 5px;
	padding-left:10px;
	list-style: none;
}

.gp_unactivate{
	max-height:25px;
}

.gp_activate{
	//border:2px solid;
	background: #F5F5F5;
}




.field_properties{
	display:none;
}
.show_prop{
	margin-left: 10px;
}
.prop_head{
	padding: 7px;
    margin: 7px;
}

.main_field_prop{
	margin-left: 10px;
}
.inherit_field{
	background-color: #cccccc;
}

.fieldrow {
  display: table-row;
  border: 1px solid blue;
}

.fieldcell {
  display: table-cell;
  width: 250px;
  border: 0px solid blue;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.fieldcell_narrow {
  width: 50px;
}



.field_remove_cursor{
	cursor: pointer;
}

.field_form{	
	padding-left: 45px;
}

.layer_item{
	list-style: none;
	clear: both;
}

.fright{
	float:right; 
}

.g_rectangle_container{
	width: 280px;	
}
.g_rectangle{
	width: 190px;
	margin:auto;
}

.g_rectangle_center{
	width: 220px;	
	margin:5px;
}

.tab_filter{
	float:left; 
	width: 80px;	
}
.olapfields{
	float:left; 	
	height: auto;
	margin-right: 20px;
}
.olap{
	height: auto;
}